// Source: colors
// Muthuraja Navy 2017
$color-navy-tint-80: #d1d4d8;

// Muthuraja Navy 2017
$color-navy-tint-60: #a3a9b2;

// Muthuraja Navy 2017
$color-navy-tint-40: #767f8b;

// Muthuraja Navy 2017
$color-navy-tint-20: #485465;

// Muthuraja Navy 2017
$color-navy-base: #1a293e;

// Muthuraja Navy 2017
$color-navy-shade-20: #152132;

// Muthuraja Navy 2017
$color-navy-shade-40: #101925;

// Muthuraja Navy 2017
$color-navy-shade-60: #0a1019;

// Muthuraja Navy 2017
$color-navy-shade-80: #05080c;

// Muthuraja Teal 2017
$color-teal-tint-80: #cce6e9;

// Muthuraja Teal 2017
$color-teal-tint-60: #99cdd4;

// Muthuraja Teal 2017
$color-teal-tint-40: #66b3be;

// Muthuraja Teal 2017
$color-teal-tint-20: #339aa9;

// Muthuraja Teal 2017
$color-teal-base: #008193;

// Muthuraja Teal 2017
$color-teal-shade-20: #006776;

// Muthuraja Teal 2017
$color-teal-shade-40: #004d58;

// Muthuraja Teal 2017
$color-teal-shade-60: #00343b;

// Muthuraja Teal 2017
$color-teal-shade-80: #001a1d;

// Muthuraja Aqua 2017
$color-aqua-tint-80: #dcf7f9;

// Muthuraja Aqua 2017
$color-aqua-tint-60: #baeff3;

// Muthuraja Aqua 2017
$color-aqua-tint-40: #97e8ed;

// Muthuraja Aqua 2017
$color-aqua-tint-20: #75e0e7;

// Muthuraja Aqua 2017
$color-aqua-base: #52d8e1;

// Muthuraja Aqua 2017
$color-aqua-shade-20: #42adb4;

// Muthuraja Aqua 2017
$color-aqua-shade-40: #318287;

// Muthuraja Aqua 2017
$color-aqua-shade-60: #21565a;

// Muthuraja Aqua 2017
$color-aqua-shade-80: #102b2d;

// Muthuraja Foam 2017
$color-foam-tint-40: #f7fafa;

// Muthuraja Foam 2017
$color-foam-tint-20: #f4f8f9;

// Muthuraja Foam 2017
$color-foam-base: #f1f6f7;

// red
$color-red-tint-90: #fbebea;

// red
$color-red-base: #da3a2f;

// red
$color-red-shade-20: #ae2e26;

// yellow
$color-yellow-tint-60: #fffa99;

// yellow
$color-yellow-base: #fff300;

// yellow
$color-yellow-shade-80: #333100;

// blue
$color-blue-tint-90: #e6eeff;

// blue
$color-blue-base: #0057ff;

// blue
$color-blue-shade-20: #0084cc;

// green
$color-green-tint-80: #ccf6e1;

// green
$color-green-base: #00d268;

// green
$color-green-shade-70: #003f1f;

// Neutral
$color-white: #ffffff;

// Neutral
$color-gray-tint-90: #f2f2f2;

// Neutral
$color-gray-tint-80: #e6e6e6;

// Neutral
$color-gray-tint-70: #d9d9d9;

// Neutral
$color-gray-tint-60: #cccccc;

// Neutral
$color-gray-tint-50: #bfbfbf;

// Neutral
$color-gray-tint-40: #b3b3b3;

// Neutral
$color-gray-tint-30: #a6a6a6;

// Neutral
$color-gray-tint-20: #999999;

// Neutral
$color-gray-tint-10: #8d8d8d;

// Neutral
$color-gray-base: #808080;

// Neutral
$color-gray-shade-10: #737373;

// Neutral
$color-gray-shade-20: #666666;

// Neutral
$color-gray-shade-30: #5a5a5a;

// Neutral
$color-gray-shade-40: #4d4d4d;

// Neutral
$color-gray-shade-50: #404040;

// Neutral
$color-gray-shade-60: #333333;

// Neutral
$color-gray-shade-70: #262626;

// Neutral
$color-gray-shade-80: #1a1a1a;

// Neutral
$color-gray-shade-90: #0d0d0d;

// Neutral
$color-black: #000000;

