<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if title %}{{ title }} - {% endif %}Muthuraja Design System</title>

{# Preload font-files #}
<link rel="preload" href="{{ '/assets/fonts/OpenSans/opensans-regular-webfont.woff2' | path }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/OpenSans/opensans-bold-webfont.woff2' | path }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/OpenSans/opensans-semibold-webfont.woff2' | path }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/OpenSans/opensans-light-webfont.woff2' | path }}" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ title }}">
<meta name="application-name" content="{{ title }}">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="{{ '/assets/img/favicons/mstile-144x144.png' | path }}">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-touch-icon.png' | path }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicons/favicon-32x32.png' | path }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicons/favicon-16x16.png' | path }}">
<link rel="mask-icon" href="{{ '/assets/img/favicons/safari-pinned-tab.svg' | path }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/assets/img/favicons/favicon.ico' | path }}" type="image/x-icon">

<link rel="manifest" href="{{ '/manifest.json' | path }}">
<link rel="author" type="text/plain" href="{{ '/humans.txt' | path }}">