{# Common #}
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="{{ '/assets/scripts/js/helpers.js' | path }}"></script>
<script src="{{ '/assets/scripts/js/navigation.js' | path }}"></script>
<script src="{{ '/assets/scripts/js/object-fit-fallback.js' | path }}"></script>

{# Components #}
<script src="{{ '/assets/scripts/js/components/dropdown.js' | path }}"></script>