<script src="{{ '/assets/scripts/js/vendor/modernizr-custom.js' | path }}"></script>
<script src="{{ '/assets/scripts/js/vendor/svg4everybody.js' | path }}"></script>
<script>
    svg4everybody();
</script>
