<div class="mrx-inputgroup">
    {% render '@field', {
        element: 'input',
        type: 'text',
        size: 'large'
    }%}
    {% render '@button', {
        text: 'Search',
        skin: 'primary',
        size: 'large',
        hideText: true,
        icon: {
            symbol: 'search',
            size: 'base'
        }
    }%}
</div>
<br>
<div class="mrx-inputgroup">
    {% render '@button', {
    text: 'Search',
    skin: 'primary',
    size: 'large',
    hideText: true,
    icon: {
    symbol: 'search',
    size: 'base'
    }
    }%}
    {% render '@field', {
        element: 'input',
        type: 'text',
        size: 'large'
    }%}

</div>
<br>
<div class="mrx-inputgroup">
    {% render '@button', {
    text: 'Search',
    skin: 'primary',
    size: 'large',
    hideText: true,
    icon: {
    symbol: 'search',
    size: 'base'
    }
    }%}
    {% render '@field', {
    element: 'input',
    type: 'text',
    size: 'large'
    }%}
    {% render '@field', {
    element: 'input',
    type: 'text',
    size: 'large'
    }%}
    {% render '@button', {
    text: 'Search',
    skin: 'primary',
    size: 'large',
    hideText: true,
    icon: {
    symbol: 'search',
    size: 'base'
    }
    }%}
    {% render '@field', {
    element: 'input',
    type: 'text',
    size: 'large'
    }%}
    {% render '@select', { label: 'Select Label', hideLabel: true, options: [ { label: 'Tiny', value: 1 }, { label: 'Foo', value: 2 }, { label: 'Bar', value: 3 } ], size: 'large'} %}
    {% render '@button', {
    text: 'Search',
    skin: 'primary',
    size: 'large',
    hideText: true,
    icon: {
    symbol: 'search',
    size: 'base'
    }
    }%}
</div>