

<!-- BREADCRUMB Component -->
<nav class="mrx-breadcrumb">
    <ol class="mrx-breadcrumb__list">
        <li class="mrx-breadcrumb__item">
            <a href="#" class="mrx-breadcrumb__label">Link 1</a>
                <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--2726" class="mrx-dropdown__toggle mrx-btn mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <span class="mrx-btn__txt"></span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-js-dropdown__menu" aria-labelledby="--2726">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt"></span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt"></span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt"></span>
                            </a>
                        </li>
                </ul>
    </div>
</div>

</li><li class="mrx-breadcrumb__item">
            <a href="#" class="mrx-breadcrumb__label">Link 1</a>
                
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"></use>
    </svg>
</i></li><li class="mrx-breadcrumb__item">
            <a href="#" class="mrx-breadcrumb__label">Link 3</a>
                <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--73226" class="mrx-dropdown__toggle mrx-btn mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <span class="mrx-btn__txt"></span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-js-dropdown__menu" aria-labelledby="--73226">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt"></span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt"></span>
                            </a>
                        </li>
                </ul>
    </div>
</div>

</li><li class="mrx-breadcrumb__item">
            <a href="#" class="mrx-breadcrumb__label">Link 4</a>
                
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"></use>
    </svg>
</i></li></ol>
</nav>

