

<!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-btn--icon" aria-label="This text is visually hidden, but still accessible through screen readers">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">This text is visually hidden, but still accessible through screen readers</span>
    </span>
</button>
