

<!-- BUTTON-TOOLBAR Component -->
<div class="mrx-btntoolbar" role="toolbar" aria-label="A toolbar with button groups">
    <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight" role="group" aria-label="First group"><!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-btn--icon" aria-label="Pull Up">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-up"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Pull Up</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-btn--icon" aria-label="Pull Right">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-right"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Pull Right</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-btn--icon" aria-label="Pull Down">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-down"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Pull Down</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-btn--icon" aria-label="Pull Left">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-left"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Pull Left</span>
    </span>
</button>
        </div>
    <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-btngroup--align-end" role="group" aria-label="Second group"><!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pin"></use>
    </svg>
</i>
        <span class="mrx-btn__txt">Pin to dashboard</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#attachment"></use>
    </svg>
</i>
        <span class="mrx-btn__txt">Attach File</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt">Search</span>
    </span>
</button>
        </div>
    </div>
