

<!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--align-center" role="group" aria-label="Aria label example"><!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">First</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Second</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Third</span>
    </span>
</button>
        </div>
