

<div class="mrx-card mrx-card--skin-default mrx-card--has-img">
    
    <img class="mrx-card__img" src="/assets/img/content/480x640(3_2)-cargo.jpg" alt="Alternative text">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Card title</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A single card will typically include a few different types of media, such as an image, a title, a synopsis, sharing icons, or a call-to-action button — all associated with the same concept.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Tag</span></li>
                
                <li class="mrx-card__tagitem"><span>Category</span></li>
                
                <li class="mrx-card__tagitem"><span>Whatever</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
