

<div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Card title</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A card chunks several different (but related) pieces of information into one digestible unit — be it an article on a news website, a product on an ecommerce site, or a post on a social app.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Tag</span></li>
                
                <li class="mrx-card__tagitem"><span>Category</span></li>
                
                <li class="mrx-card__tagitem"><span>Whatever</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
