

<ul class="mrx-row mrx-row--gutters swatches swatches--colors mrx-ui">
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #d1d4d8"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-tint-80</strong></span>
        <span class="swatch__hex">#d1d4d8</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #a3a9b2"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-tint-60</strong></span>
        <span class="swatch__hex">#a3a9b2</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #767f8b"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-tint-40</strong></span>
        <span class="swatch__hex">#767f8b</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #485465"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-tint-20</strong></span>
        <span class="swatch__hex">#485465</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #1a293e"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-base</strong></span>
        <span class="swatch__hex">#1a293e</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #152132"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-shade-20</strong></span>
        <span class="swatch__hex">#152132</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #101925"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-shade-40</strong></span>
        <span class="swatch__hex">#101925</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #0a1019"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-shade-60</strong></span>
        <span class="swatch__hex">#0a1019</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #05080c"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-navy-shade-80</strong></span>
        <span class="swatch__hex">#05080c</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #cce6e9"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-tint-80</strong></span>
        <span class="swatch__hex">#cce6e9</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #99cdd4"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-tint-60</strong></span>
        <span class="swatch__hex">#99cdd4</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #66b3be"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-tint-40</strong></span>
        <span class="swatch__hex">#66b3be</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #339aa9"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-tint-20</strong></span>
        <span class="swatch__hex">#339aa9</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #008193"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-base</strong></span>
        <span class="swatch__hex">#008193</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #006776"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-shade-20</strong></span>
        <span class="swatch__hex">#006776</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #004d58"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-shade-40</strong></span>
        <span class="swatch__hex">#004d58</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #00343b"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-shade-60</strong></span>
        <span class="swatch__hex">#00343b</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #001a1d"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-teal-shade-80</strong></span>
        <span class="swatch__hex">#001a1d</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #dcf7f9"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-tint-80</strong></span>
        <span class="swatch__hex">#dcf7f9</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #baeff3"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-tint-60</strong></span>
        <span class="swatch__hex">#baeff3</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #97e8ed"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-tint-40</strong></span>
        <span class="swatch__hex">#97e8ed</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #75e0e7"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-tint-20</strong></span>
        <span class="swatch__hex">#75e0e7</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #52d8e1"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-base</strong></span>
        <span class="swatch__hex">#52d8e1</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #42adb4"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-shade-20</strong></span>
        <span class="swatch__hex">#42adb4</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #318287"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-shade-40</strong></span>
        <span class="swatch__hex">#318287</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #21565a"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-shade-60</strong></span>
        <span class="swatch__hex">#21565a</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #102b2d"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-aqua-shade-80</strong></span>
        <span class="swatch__hex">#102b2d</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #f7fafa"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-foam-tint-40</strong></span>
        <span class="swatch__hex">#f7fafa</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #f4f8f9"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-foam-tint-20</strong></span>
        <span class="swatch__hex">#f4f8f9</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #f1f6f7"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-foam-base</strong></span>
        <span class="swatch__hex">#f1f6f7</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #fbebea"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-red-tint-90</strong></span>
        <span class="swatch__hex">#fbebea</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #da3a2f"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-red-base</strong></span>
        <span class="swatch__hex">#da3a2f</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #ae2e26"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-red-shade-20</strong></span>
        <span class="swatch__hex">#ae2e26</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #fffa99"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-yellow-tint-60</strong></span>
        <span class="swatch__hex">#fffa99</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #fff300"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-yellow-base</strong></span>
        <span class="swatch__hex">#fff300</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #333100"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-yellow-shade-80</strong></span>
        <span class="swatch__hex">#333100</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #e6eeff"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-blue-tint-90</strong></span>
        <span class="swatch__hex">#e6eeff</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #0057ff"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-blue-base</strong></span>
        <span class="swatch__hex">#0057ff</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #0084cc"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-blue-shade-20</strong></span>
        <span class="swatch__hex">#0084cc</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #ccf6e1"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-green-tint-80</strong></span>
        <span class="swatch__hex">#ccf6e1</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #00d268"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-green-base</strong></span>
        <span class="swatch__hex">#00d268</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #003f1f"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-green-shade-70</strong></span>
        <span class="swatch__hex">#003f1f</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #ffffff"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-white</strong></span>
        <span class="swatch__hex">#ffffff</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #f2f2f2"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-90</strong></span>
        <span class="swatch__hex">#f2f2f2</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #e6e6e6"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-80</strong></span>
        <span class="swatch__hex">#e6e6e6</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #d9d9d9"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-70</strong></span>
        <span class="swatch__hex">#d9d9d9</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #cccccc"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-60</strong></span>
        <span class="swatch__hex">#cccccc</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #bfbfbf"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-50</strong></span>
        <span class="swatch__hex">#bfbfbf</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #b3b3b3"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-40</strong></span>
        <span class="swatch__hex">#b3b3b3</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #a6a6a6"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-30</strong></span>
        <span class="swatch__hex">#a6a6a6</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #999999"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-20</strong></span>
        <span class="swatch__hex">#999999</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #8d8d8d"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-tint-10</strong></span>
        <span class="swatch__hex">#8d8d8d</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #808080"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-base</strong></span>
        <span class="swatch__hex">#808080</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #737373"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-10</strong></span>
        <span class="swatch__hex">#737373</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #666666"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-20</strong></span>
        <span class="swatch__hex">#666666</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #5a5a5a"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-30</strong></span>
        <span class="swatch__hex">#5a5a5a</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #4d4d4d"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-40</strong></span>
        <span class="swatch__hex">#4d4d4d</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #404040"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-50</strong></span>
        <span class="swatch__hex">#404040</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #333333"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-60</strong></span>
        <span class="swatch__hex">#333333</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #262626"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-70</strong></span>
        <span class="swatch__hex">#262626</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #1a1a1a"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-80</strong></span>
        <span class="swatch__hex">#1a1a1a</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #0d0d0d"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-gray-shade-90</strong></span>
        <span class="swatch__hex">#0d0d0d</span>
    </div>
</div>
        </li>
    
        <li class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--4@tab-m">
            <div class="swatch swatch--color mrx-card mrx-p--small@all">
    <div class="swatch__tile" style="background-color: #000000"></div>
    <div class="swatch__info">
        <span class="swatch__name"><strong>color-black</strong></span>
        <span class="swatch__hex">#000000</span>
    </div>
</div>
        </li>
    
</ul>

