

<body class="mrx-page">
    <div class="mrx-page__canvas">
        
        <div class="mrx-page__header">
    <header class="mrx-header" role="banner">
        <button class="mrx-btn mrx-hamburger mrx-hamburger--spin mrx-header__nav-toggle mrx-js-header__nav-toggle">
    <span class="mrx-hamburger__inner">
        <span class="mrx-hamburger__icon"></span>
    </span>
    <span class="mrx-hamburger__txt mrx-is-vishidden">Menu</span>
</button>
        <a class="mrx-header__title" href="#">
            My Company
        </a>
        <div class="mrx-header__tools">
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-ui" role="group" aria-label="Tools and settings"><!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--44266" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#user"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">User</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--44266">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">My profile</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Notification settings</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Security</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Usage</span>
                            </a>
                        </li>
                <li class="mrx-divider mrx-divider--size-mini" aria-hidden="true" tabindex="-1"></li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Logout</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--99593" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--99593">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Menu Editor</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Unit of Measure</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--33899" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#dots-horizontal"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">More</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--33899">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Support</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Give feedback</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Community</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Privacy policy</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">About Muthuraja</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        </div>
        </div>
    </header>
</div>


        
        <div class="mrx-page__nav">
            
    
    

<nav class="mrx-nav mrx-nav--main" aria-labelledby="--51748"><div class="mrx-nav__search">
        <div class="mrx-inputgroup">
            
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="find-component--6736" type="search" placeholder="Find component"    />
    <label class="mrx-label mrx-is-vishidden" for="find-component--6736">
        Find Component
    </label>
</div>
            <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-base mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
        </div>
    </div><h2 class="mrx-nav__header mrx-is-vishidden" id="--51748">Main Navigation</h2><ul class="mrx-tree mrx-is-root">
    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="0">
        <a href="#" class="mrx-tree__link">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
            <span class="mrx-tree__link__txt">Link level 0</span>
        </a>
        <ul class="mrx-tree">
            <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</nav>
        </div>

        
        <div class="mrx-page__main">
            <main class="mrx-main" role="main">

                
                <button class="mrx-page__overlay">
                    <span class="mrx-is-vishidden">Close</span>
                </button>

                
                

                
                <div class="mrx-page__content">
                    
    <div class="mrx-menubar mrx-theme--foam">
        <div class="mrx-container">
            <div class="mrx-row mrx-row--middle@all">
                <div class="mrx-col">
                    <!-- TABS Component -->
<nav class="mrx-tabs">
    <ol class="mrx-tabs__list">
        <li class="mrx-tabs__item mrx-is-active">
            <a href="#" class="mrx-tabs__label">
                
                <span class="mrx-tabs__txt">Foo</span>
            </a>
        </li><li class="mrx-tabs__item">
            <a href="#" class="mrx-tabs__label">
                
                <span class="mrx-tabs__txt">Bar</span>
            </a>
        </li><li class="mrx-tabs__item">
            <a href="#" class="mrx-tabs__label">
                
                <span class="mrx-tabs__txt">Baz</span>
            </a>
        </li></ol>
</nav>
                </div>
                <div class="mrx-col">
                    <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--align-end" role="group" aria-label="A button group"><!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-base">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#plus"></use>
    </svg>
</i>
        <span class="mrx-btn__txt">New</span>
    </span>
</button>
        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--31901" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-secondary mrx-btn--size-base mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <span class="mrx-btn__txt">Details</span>
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small mrx-dropdown__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-down"></use>
    </svg>
</i>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--31901">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Password</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Caci</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#arrow-down"></use>
    </svg>
</i><span class="mrx-dropdown__item__txt">Download</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Edit</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#papers"></use>
    </svg>
</i><span class="mrx-dropdown__item__txt">Notes</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Server</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Retire</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i><span class="mrx-dropdown__item__txt">Tools</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Deploy</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        </div>
                </div>
            </div>
        </div>
    </div>

    <header class="mrx-app__header">
        <h1 class="mrx-app__title">Dashboard Title</h1>
    </header>
    <div class="mrx-container">
        <div class="mrx-row mrx-row--gutters">
            <div class="mrx-col mrx-col--12@all">
                <div class="mrx-card mrx-card--skin-default mrx-p--small@all">
                    <div class="mrx-row mrx-row--gutters">
                        <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@tab-l">
                            <div class="mrx-row mrx-row--gutters">
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="node-id--60866" type="text" value="117"   readonly />
    <label class="mrx-label" for="node-id--60866">
        Node ID
    </label>
</div>
                                </div>
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="type--4848" type="text" value="router"   readonly />
    <label class="mrx-label" for="type--4848">
        Type
    </label>
</div>
                                </div>
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="created-by--66654" type="text" value="Development user"   readonly />
    <label class="mrx-label" for="created-by--66654">
        Created by
    </label>
</div>
                                </div>
                            </div>
                        </div>
                        <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@tab-l">
                            <div class="mrx-row mrx-row--gutters">
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="last-latency--3578" type="text" value="N/a"   readonly />
    <label class="mrx-label" for="last-latency--3578">
        Last Latency
    </label>
</div>
                                </div>
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="logical-network--67679" type="text" value="Pacific Drilling"   readonly />
    <label class="mrx-label" for="logical-network--67679">
        Logical Network
    </label>
</div>
                                </div>
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="device--10148" type="text" value="Cisco-TK421"   readonly />
    <label class="mrx-label" for="device--10148">
        Device
    </label>
</div>
                                </div>
                            </div>
                        </div>
                        <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@tab-l">
                            <div class="mrx-row mrx-row--gutters">
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="created--48839" type="text" value="2017.11.16 13:10:48"   readonly />
    <label class="mrx-label" for="created--48839">
        Created
    </label>
</div>
                                </div>
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="host-name--42171" type="text" value="117"   readonly />
    <label class="mrx-label" for="host-name--42171">
        Host Name
    </label>
</div>
                                </div>
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="description--10627" type="text" value="fn2187"   readonly />
    <label class="mrx-label" for="description--10627">
        Description
    </label>
</div>
                                </div>
                            </div>
                        </div>
                        <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@tab-l">
                            <div class="mrx-row mrx-row--gutters">
                                <div class="mrx-col mrx-col--12@all">
                                    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="last-seen--33229" type="text" value="N/A"   readonly />
    <label class="mrx-label" for="last-seen--33229">
        Last Seen
    </label>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mrx-row mrx-row--gutters mrx-row--stretch@all">
            <div class="mrx-col mrx-col--12@all">
                <div class="mrx-card mrx-card--skin-default">
                    <table class="mrx-table mrx-table--fit-tight mrx-table--fluid mrx-table--highlight mrx-ui">
    <thead class="mrx-theme--foam">
        <tr>
        <th>Node ID</th>
        <th>Logical Network</th>
        <th>Host name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Created</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Floatel Test</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco809-SupportRouter</td>
                <td>Ola Normann</td>
                <td>5 years ago</td>
                <td>Edit</td>
                </tr>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Noble Drilling</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco809-Common</td>
                <td>Ola Normann</td>
                <td>1 year ago</td>
                <td>Edit</td>
                </tr>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Common</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco881</td>
                <td>Ola Normann</td>
                <td>3 years ago</td>
                <td>Edit</td>
                </tr>
            </tbody>
    </table>
                </div>
            </div>
            <div class="mrx-col mrx-col--12@all">
                <div class="mrx-card mrx-card--skin-default">
                    <table class="mrx-table mrx-table--fit-tight mrx-table--fluid mrx-table--highlight mrx-ui">
    <thead class="mrx-theme--foam">
        <tr>
        <th>Node ID</th>
        <th>Logical Network</th>
        <th>Host name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Created</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Floatel Test</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco809-SupportRouter</td>
                <td>Ola Normann</td>
                <td>5 years ago</td>
                <td>Edit</td>
                </tr>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Noble Drilling</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco809-Common</td>
                <td>Ola Normann</td>
                <td>1 year ago</td>
                <td>Edit</td>
                </tr>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Common</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco881</td>
                <td>Ola Normann</td>
                <td>3 years ago</td>
                <td>Edit</td>
                </tr>
            </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>

                </div>
            </main>
        </div>

        
        <div class="mrx-page__footer mrx-theme--navy">
    <footer role="contentinfo">
        <div class="mrx-container mrx-footer">
            <div class="mrx-footer__logo">
                <img src="../../assets/img/gfx/kog-logo-neg.svg" alt="">
            </div>
            <div class="mrx-footer__text">
                <p>Copyright ©2017 designcompany Gruppen - All rights reserved <br>
                    <a href="mailto:mb172.digital.platform.developers@design.designcompany.com">Contact Us</a>
                </p>
            </div>
        </div>
    </footer>
</div>
    </div>
    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>
    
    
</body>
