

<!-- DROPDOWN Component --><div class="mrx-dropdown mrx-dropdown--split mrx-btn-group" role="group" aria-label="">
    <button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large">
        <span class="mrx-btn__inner"><span class="mrx-btn__txt">Save & Close</span>
        </span>
    </button>
    <button id="--35433" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
            <span class="mrx-btn__txt mrx-is-vishidden">Toggle Dropdown</span>
            
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-down"></use>
    </svg>
</i>
            
        </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-left" aria-labelledby="--35433">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Action</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Another Action</span>
                            </a>
                        </li>
                <li class="mrx-divider mrx-divider--size-mini" aria-hidden="true" tabindex="-1"></li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Action with subitems</span>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"></use>
    </svg>
</i>
                            </a>
                        <div class="mrx-dropdown__menu">
                                <ul class="mrx-dropdown__list">
                                    <li class="mrx-dropdown__item">
                                            <a class="mrx-dropdown__link" href="#">
                                                Sub action
                                            </a>
                                        </li>
                                    <li class="mrx-dropdown__item">
                                            <a class="mrx-dropdown__link" href="#">
                                                Another sub action
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Action with subitems</span>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"></use>
    </svg>
</i>
                            </a>
                        <div class="mrx-dropdown__menu">
                                <ul class="mrx-dropdown__list">
                                    <li class="mrx-dropdown__item">
                                            <a class="mrx-dropdown__link" href="#">
                                                Sub action
                                            </a>
                                        </li>
                                    <li class="mrx-dropdown__item">
                                            <a class="mrx-dropdown__link" href="#">
                                                Another sub action
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i><span class="mrx-dropdown__item__txt">Action with icon</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i><span class="mrx-dropdown__item__txt">Action with icon and subitems</span>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"></use>
    </svg>
</i>
                            </a>
                        <div class="mrx-dropdown__menu">
                                <ul class="mrx-dropdown__list">
                                    <li class="mrx-dropdown__item">
                                            <a class="mrx-dropdown__link" href="#">
                                                Sub action
                                            </a>
                                        </li>
                                    <li class="mrx-dropdown__item">
                                            <a class="mrx-dropdown__link" href="#">
                                                Another sub action
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </li>
                </ul>
    </div>
</div>



