

<div class="mrx-page__header">
    <header class="mrx-header" role="banner">
        <button class="mrx-btn mrx-hamburger mrx-hamburger--spin mrx-header__nav-toggle mrx-js-header__nav-toggle">
    <span class="mrx-hamburger__inner">
        <span class="mrx-hamburger__icon"></span>
    </span>
    <span class="mrx-hamburger__txt mrx-is-vishidden">Menu</span>
</button>
        <a class="mrx-header__logo" href="#">
            <img src="../../../components/raw/header/logotype-Muthuraja-neg.svg" alt="Muthuraja logo">
            </a>
        <div class="mrx-header__tools">
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-ui" role="group" aria-label="Tools and settings"><!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--9313" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#user"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">User</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--9313">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">My profile</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Notification settings</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Security</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Usage</span>
                            </a>
                        </li>
                <li class="mrx-divider mrx-divider--size-mini" aria-hidden="true" tabindex="-1"></li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Logout</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--22692" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--22692">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Menu Editor</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Unit of Measure</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--29138" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#dots-horizontal"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">More</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--29138">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Support</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Give feedback</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Community</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Privacy policy</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">About Muthuraja</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        </div>
        </div>
    </header>
</div>

