

<div class="mrx-hero mrx-hero--75 mrx-objectfit">
    <picture class="mrx-hero__poster">
            <source srcset="../../assets/img/content/1920x960(2_1)-rig.jpg" media="(min-width: 1920px)">
            <source srcset="../../assets/img/content/1600x800(2_1)-rig.jpg" media="(min-width: 1600px)">
            <source srcset="../../assets/img/content/1280x853(3_2)-rig.jpg" media="(min-width: 1280px)">
            <source srcset="../../assets/img/content/1024x683(3_2)-rig.jpg" media="(min-width: 1024px)">
            <source srcset="../../assets/img/content/800x800(1_1)-rig.jpg" media="(min-width: 800px)">
            <source srcset="../../assets/img/content/600x800(3_4)-rig.jpg" media="(min-width: 600px)">
            <source srcset="../../assets/img/content/480x640(3_2)-rig.jpg" media="(min-width: 480px)">
            <img class="mrx-hero__img mrx-objectfit__img" src="../../assets/img/content/1600x800(2_1)-rig.jpg" data-fallback="../../assets/img/content/1600x800(2_1)-rig.jpg" alt="Alternative text">
        </picture>
    <div class="mrx-hero__content">
            <div class="mrx-hero__content__item">
                <div class="mrx-container mrx-container--center mrx-container--tab-m mrx-center">
                    <h1 class="mrx-hero__title">
                        Hero size 75 (image)
                    </h1>
                    
                    <p class="mrx-hero__lead">This hero is at least 75% of viewport height</p>
                    
                    
                </div>
            </div>
        </div>
    </div>
