

<body class="mrx-page">
    <div class="mrx-page__canvas">

        
        <div class="mrx-page__main">
            <main class="mrx-main" role="main">
                
                <div class="mrx-page__content">
                    
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--mob-s">
            Container: <strong>mob-s</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--mob-m">
            Container: <strong>mob-m</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--mob-l">
            Container: <strong>mob-l</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--tab-m">
            Container: <strong>tab-m</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--tab-l">
            Container: <strong>tab-l</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--ltp-s">
            Container: <strong>ltp-s</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--ltp-m">
            Container: <strong>ltp-m</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--ltp-l">
            Container: <strong>ltp-l</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--dtp">
            Container: <strong>dtp</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center mrx-container--wqhd">
            Container: <strong>wqhd</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>
    <section class="mrx-theme--foam mrx-pt--xxlarge@all mrx-pb--xlarge@all">
        <div class="mrx-container mrx-container--center">
            Container: <strong>full-width</strong> with 1 row + 4 columns
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">Col</div>
                </div>
            </div>
        </div>
    </section>

                </div>
            </main>
        </div>

    </div>
    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>
    
    
</body>

