

<div class="mrx-listgroup">
    <ul class="mrx-listgroup__list">
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Pacific Drilling</span>
    </span>
</a>
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-listgroup__actions" role="group" aria-label="Actions"><!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" href="#" aria-label="Bookmark">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Bookmark</span>
    </span>
</a>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Settings">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Delete">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Delete</span>
    </span>
</button>
        </div></li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Floatel test</span>
    </span>
</a>
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-listgroup__actions" role="group" aria-label="Actions"><!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" href="#" aria-label="Bookmark">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Bookmark</span>
    </span>
</a>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Settings">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Delete">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Delete</span>
    </span>
</button>
        </div></li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Maersk</span>
    </span>
</a>
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-listgroup__actions" role="group" aria-label="Actions"><!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" href="#" aria-label="Bookmark">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Bookmark</span>
    </span>
</a>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Settings">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Delete">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Delete</span>
    </span>
</button>
        </div></li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">BWO</span>
    </span>
</a>
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-listgroup__actions" role="group" aria-label="Actions"><!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" href="#" aria-label="Bookmark">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Bookmark</span>
    </span>
</a>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Settings">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
    </span>
</button>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-btn--icon" aria-label="Delete">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Delete</span>
    </span>
</button>
        </div></li>
        </ul>
</div>
