

<div class="mrx-listgroup">
    <ul class="mrx-listgroup__list">
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Pacific Drilling</span>
    </span>
</a>
            <span class="mrx-listgroup__metadata">25 minutes ago</span>
            </li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Floatel test</span>
    </span>
</a>
            <span class="mrx-listgroup__metadata">2 hours ago</span>
            </li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Maersk</span>
    </span>
</a>
            <span class="mrx-listgroup__metadata">5 weeks ago</span>
            </li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">BWO</span>
    </span>
</a>
            <span class="mrx-listgroup__metadata">a year ago</span>
            </li>
        </ul>
</div>
