

<div class="mrx-listgroup">
    <ul class="mrx-listgroup__list">
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Pacific Drilling</span>
    </span>
</a>
            <span class="mrx-badge">
    <span class="mrx-badge__fill mrx-badge--skin-info">
    <span class="mrx-badge__txt">2</span>
    </span>
    </span>

</li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Floatel test</span>
    </span>
</a>
            <span class="mrx-badge">
    <span class="mrx-badge__fill mrx-badge--skin-info">
    <span class="mrx-badge__txt">18</span>
    </span>
    </span>

</li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Maersk</span>
    </span>
</a>
            <span class="mrx-badge">
    <span class="mrx-badge__fill mrx-badge--skin-info">
    <span class="mrx-badge__txt">37</span>
    </span>
    </span>

</li>
        <li class="mrx-listgroup__row">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-listgroup__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">BWO</span>
    </span>
</a>
            <span class="mrx-badge">
    <span class="mrx-badge__fill mrx-badge--skin-info">
    <span class="mrx-badge__txt">9</span>
    </span>
    </span>

</li>
        </ul>
</div>
