<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <title>Error rendering component logo--positive | Muthu Design System</title>

<link rel="preload" href="/assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Error rendering component logo--positive | Muthu Design System">
<meta name="application-name" content="Error rendering component logo--positive | Muthu Design System">
<meta name="msapplication-TileColor" content="../../#006776">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="../../#006776">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="../../#006776">
<link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">

<link rel="manifest" href="../../manifest.json">

<link rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css?cachebust=0.4.0" type="text/css">

<link rel="stylesheet" href="../../assets/styles/css/fractal.css?cachebust=0.4.0" type="text/css">



</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>(unknown path)
  Error: template not found: ../../logotype-Muthuraja.svg</p>

    </div>
    
    <code class="Error-stack">
        <pre>Template render error: (unknown path)
  Error: template not found: ../../logotype-Muthuraja.svg
    at Object.exports.prettifyError (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\lib.js:34:15)
    at C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:486:31
    at eval (eval at _compile (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:565:24), <anonymous>:21:11)
    at createTemplate (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:212:25)
    at next (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\lib.js:210:13)
    at handle (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:252:25)
    at C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:263:21
    at next (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\lib.js:207:13)
    at handle (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:252:25)
    at C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:263:21
    at next (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\lib.js:207:13)
    at Object.exports.asyncIter (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\lib.js:214:5)
    at new_cls.getTemplate (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:242:17)
    at new_cls.root [as rootRenderFunc] (eval at _compile (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:565:24), <anonymous>:20:5)
    at new_cls.render (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:479:15)
    at new_cls.renderString (C:\Projects\designcompany\DesignSystem\node_modules\nunjucks\src\environment.js:327:21)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=0.4.0"></script>



</body>
</html>
