


    
    

<div class="mrx-modal" tabindex="-1" role="dialog" aria-labelledby="--43094">
    <div class="mrx-modal__dialog mrx-modal--skin-prominent mrx-modal--size-medium" role="document">
        <div class="mrx-modal__content">
            <div class="mrx-modal__header">
                <h5 class="mrx-modal__title" id="--43094">Modal title</h5>
                <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--size-base mrx-btn--icon mrx-modal__close" aria-label="Close">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Close</span>
    </span>
</button>
            </div>
            <div class="mrx-modal__body">
                <p>In user interface design for computer applications, a modal window is a graphical control element subordinate to an application's main window. It creates a mode that disables the main window, but keeps it visible with the modal window as a child window in front of it.</p>
            </div>
            
            <div class="mrx-modal__footer">
                <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--align-center mrx-modal__cta" role="group" aria-label=""><!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Got it</span>
    </span>
</button>
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large" href="https://en.wikipedia.org/wiki/Modal_window">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Didn't get it</span>
    </span>
</a>
        <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-link mrx-btn--size-large">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Cancel</span>
    </span>
</button>
        </div>
            </div>
            
        </div>
    </div>
    <div class="mrx-modal__backdrop"></div>
</div>
