


    
    

<nav class="mrx-nav" aria-labelledby="--43598"><h2 class="mrx-nav__header mrx-is-vishidden" id="--43598">Navigation header</h2><ul class="mrx-tree mrx-is-root">
    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="0">
        <a href="#" class="mrx-tree__link">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
            <span class="mrx-tree__link__txt">Link level 0</span>
        </a>
        <ul class="mrx-tree">
            <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</nav>
