

<div class="mrx-notification mrx-notification--warning mrx-notification--block">
    <div class="mrx-notification__content">
        <span class="mrx-notification__icon">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#warning"></use>
    </svg>
</i>
        </span>
        <header class="mrx-notification__header">
            <h3 class="mrx-notification__title">Warning Notification Title</h3>
        </header>
        <div class="mrx-notification__body">
            <p>If needed (e.g. error message notifications), add extra information about the specific nature of a problem and a way to solve it.</p>
        </div>
        </div>
    </div>
