

<div class="mrx-notification mrx-notification--info mrx-notification--banner">
    <div class="mrx-notification__content">
        <span class="mrx-notification__icon">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#success"></use>
    </svg>
</i>
        </span>
        <div class="mrx-notification__body">
            <p>New VR-experience has arrived. Try it out!</p>
        </div>
        </div>
    </div>
