

<div class="mrx-notification mrx-notification--block">
    <div class="mrx-notification__content">
        <header class="mrx-notification__header">
            <h3 class="mrx-notification__title">Neutral Notification Title</h3>
        </header>
        <div class="mrx-notification__body">
            <p>Users want to stay informed while using your web or mobile applications. Always use the opportunity to show your users well-formed and clear notifications.</p>
        </div>
        </div>
    </div>
