

<div class="mrx-notification mrx-notification--info mrx-notification--block">
    <div class="mrx-notification__content">
        <span class="mrx-notification__icon">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#info"></use>
    </svg>
</i>
        </span>
        <header class="mrx-notification__header">
            <h3 class="mrx-notification__title">Info Notification Title</h3>
        </header>
        <div class="mrx-notification__body">
            <p>Try to keep your notifications simple and straight to the point.</p>
        </div>
        </div>
    </div>
