

<body class="mrx-page">
    <div class="mrx-page__canvas">

        
        <div class="mrx-page__main">
            <main class="mrx-main" role="main">
                
                <div class="mrx-page__content">
                    
                </div>
            </main>
        </div>

    </div>
    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>
    
    
</body>

