

<nav class="mrx-pagination" aria-label="Aria label example">
    <ul class="mrx-pagination__group">
        <li class="mrx-pagination__item">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-pagination__link mrx-is-disabled" tabindex="-1" href="#">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-left"></use>
    </svg>
</i>
        <span class="mrx-btn__txt">Previous</span>
    </span>
</a>
        </li>
    
    <li class="mrx-pagination__item mrx-is-active">
            <span class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-is-selected">1</span>
        </li>
    
    
        <li class="mrx-pagination__item">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-pagination__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">2</span>
    </span>
</a>
        </li>
    
    
        <li class="mrx-pagination__item">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-pagination__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">3</span>
    </span>
</a>
        </li>
    
    
        <li class="mrx-pagination__item">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-pagination__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">4</span>
    </span>
</a>
        </li>
    
    
        <li class="mrx-pagination__item">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-pagination__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">5</span>
    </span>
</a>
        </li>
    
    
        <li class="mrx-pagination__item">
            <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-secondary mrx-btn--size-large mrx-pagination__link" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Next</span>
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"></use>
    </svg>
</i>
    </span>
</a>
        </li>
    
    </ul>
</nav>
