

<!-- Start: @process--tiny -->
<i class="mrx-icon mrx-icon--size-tiny mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--tiny -->

<!-- Start: @process--small -->
<i class="mrx-icon mrx-icon--size-small mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--small -->

<!-- Start: @process--base -->
<i class="mrx-icon mrx-icon--size-base mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--base -->

<!-- Start: @process--moderate -->
<i class="mrx-icon mrx-icon--size-moderate mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--moderate -->

<!-- Start: @process--medium -->
<i class="mrx-icon mrx-icon--size-medium mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--medium -->

<!-- Start: @process--large -->
<i class="mrx-icon mrx-icon--size-large mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--large -->

<!-- Start: @process--xlarge -->
<i class="mrx-icon mrx-icon--size-xlarge mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--xlarge -->

<!-- Start: @process--xxlarge -->
<i class="mrx-icon mrx-icon--size-xxlarge mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--xxlarge -->

<!-- Start: @process--xxxlarge -->
<i class="mrx-icon mrx-icon--size-xxxlarge mrx-process">
    <svg class="mrx-process__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6"></circle>
    </svg>
</i>
<!-- End: @process--xxxlarge -->

