

<!-- SWITCH-GROUP Component -->
<div class="mrx-switchgroup mrx-switchgroup--inline">
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="perfect--74747">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="perfect--74747" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Perfect</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="very-good--70473">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="very-good--70473" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Very Good</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="good--24161">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="good--24161" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Good</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="ok--71212">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="ok--71212" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Ok</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="poor--26442">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="poor--26442" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Poor</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="very-poor--43276">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="very-poor--43276" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Very poor</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="catastrophic--68093">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="catastrophic--68093" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">Catastrophic</span>
    </label>
</div></div>
