

<!-- SWITCH-GROUP Component -->
<div class="mrx-switchgroup mrx-switchgroup--inline">
    
    
<!-- SWITCH checkbox Component -->
<div class="mrx-switch mrx-switch--checkbox">
    <label class="mrx-switch__label" for="foo--86774">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="foo--86774"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">foo</span>
    </label>
</div>
    
    
<!-- SWITCH checkbox Component -->
<div class="mrx-switch mrx-switch--checkbox">
    <label class="mrx-switch__label" for="bar--13398">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="bar--13398"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">bar</span>
    </label>
</div>
    
    
<!-- SWITCH checkbox Component -->
<div class="mrx-switch mrx-switch--checkbox">
    <label class="mrx-switch__label" for="baz--72325">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="baz--72325"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">baz</span>
    </label>
</div></div>
