

<!-- SWITCH-GROUP Component -->
<div class="mrx-switchgroup mrx-switchgroup--inline">
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="foo--40106">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="foo--40106" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">foo</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="bar--96698">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="bar--96698" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">bar</span>
    </label>
</div>
    
    
<!-- SWITCH radio Component -->
<div class="mrx-switch mrx-switch--radio">
    <label class="mrx-switch__label" for="baz--86070">
        <input class="mrx-switch__control mrx-is-vishidden" type="radio" id="baz--86070" name="example-radio-group-name"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">baz</span>
    </label>
</div></div>
