


    
    
<!-- SWITCH toggle Component -->
<div class="mrx-switch mrx-switch--toggle">
    <label class="mrx-switch__label" for="toggle-label-text--65747">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="toggle-label-text--65747" disabled="disabled" />
        <span class="mrx-switch__fake" aria-hidden="true">
            <span class="mrx-switch__option-left" aria-hidden="true">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#check"></use>
    </svg>
</i>
            </span>
            <span class="mrx-switch__option-right mrx-is-hidden" aria-hidden="true">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"></use>
    </svg>
</i>
            </span>
        </span>
        <span class="mrx-switch__label__txt">Toggle label text</span>
        <span class="mrx-switch__disabled-msg" data-checked="On" data-unchecked="Off" aria-hidden="true"></span>
    </label>
</div>
