

<!-- SWITCH-GROUP Component -->
<div class="mrx-switchgroup mrx-switchgroup--inline">
    
    
<!-- SWITCH checkbox Component -->
<div class="mrx-switch mrx-switch--checkbox">
    <label class="mrx-switch__label" for="foo--57490">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="foo--57490"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">foo</span>
    </label>
</div>
    
    
<!-- SWITCH checkbox Component -->
<div class="mrx-switch mrx-switch--checkbox">
    <label class="mrx-switch__label" for="bar--82909">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="bar--82909"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">bar</span>
    </label>
</div>
    
    
<!-- SWITCH checkbox Component -->
<div class="mrx-switch mrx-switch--checkbox">
    <label class="mrx-switch__label" for="baz--41034">
        <input class="mrx-switch__control mrx-is-vishidden" type="checkbox" id="baz--41034"  />
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt">baz</span>
    </label>
</div></div>
