

<table class="mrx-table mrx-table--fit-tight mrx-table--fluid mrx-ui">
    <thead>
        <tr>
        <th>Node ID</th>
        <th>Logical Network</th>
        <th>Host name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Created</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Floatel Test</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco809-SupportRouter</td>
                <td>Ola Normann</td>
                <td>5 years ago</td>
                <td>Edit</td>
                </tr>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Noble Drilling</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco809-Common</td>
                <td>Ola Normann</td>
                <td>1 year ago</td>
                <td>Edit</td>
                </tr>
            <tr>
                <td><a href="#">16385</a></td>
                <td>Common</td>
                <td>n16386-nndf-001</td>
                <td>Router</td>
                <td>Cisco881</td>
                <td>Ola Normann</td>
                <td>3 years ago</td>
                <td>Edit</td>
                </tr>
            </tbody>
    </table>
