

<!-- TABS Component -->
<nav class="mrx-tabs mrx-tabs--theme-white">
    <ol class="mrx-tabs__list">
        <li class="mrx-tabs__item mrx-is-active">
            <a href="#" class="mrx-tabs__label">
                
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                
                <span class="mrx-tabs__txt">Home</span>
            </a>
        </li><li class="mrx-tabs__item">
            <a href="#" class="mrx-tabs__label">
                
                <span class="mrx-tabs__txt">Applications</span>
            </a>
        </li><li class="mrx-tabs__item">
            <a href="#" class="mrx-tabs__label">
                
                <span class="mrx-tabs__txt">GSN Management</span>
            </a>
        </li><li class="mrx-tabs__item">
            <a href="" class="mrx-tabs__label">
                
                <span class="mrx-tabs__txt">Node Offshore</span>
            </a>
        </li></ol>
</nav>
