// ==========================================================================
// Flexbox
// ==========================================================================

// A generic set of flexbox helpers for rapid layout adjustments
// ==========================================================================

.mrx-flex {
    display: flex;
}

.mrx-flex--center {
    align-items: center;
    justify-content: center;
}

