// ==========================================================================
// Component: fieldset
// ==========================================================================

// Elements (children)
// ==========================================================================
.mrx-fieldset__content {
    display: flex;
    flex-direction: column;
}


// Block (parent)
// ==========================================================================

.mrx-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

