

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Muthuraja Design System</title>


<link rel="preload" href="../../assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" type="image/x-icon">

<link rel="manifest" href="../../manifest.json">
<link rel="author" type="text/plain" href="../../humans.txt">
    <link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css">
<link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-styles.css">

    

    <script src="../../assets/scripts/js/vendor/modernizr-custom.js"></script>
<script src="../../assets/scripts/js/vendor/svg4everybody.js"></script>
<script>
    svg4everybody();
</script>

    
</head>
<body class="mrx-page">
    <div class="mrx-page__canvas">

        
        <div class="mrx-page__main">
            <main class="mrx-main" role="main">
                
                <div class="mrx-page__content">
                    
    <section class="mrx-theme--white">
        <div class="mrx-hero mrx-hero--75 mrx-objectfit">
    <picture class="mrx-hero__poster">
            <source srcset="../../assets/img/content/1920x960(2_1)-hugin.jpg" media="(min-width: 1920px)">
            <source srcset="../../assets/img/content/1600x800(2_1)-hugin.jpg" media="(min-width: 1600px)">
            <source srcset="../../assets/img/content/1280x853(3_2)-hugin.jpg" media="(min-width: 1280px)">
            <source srcset="../../assets/img/content/1024x683(3_2)-hugin.jpg" media="(min-width: 1024px)">
            <source srcset="../../assets/img/content/800x800(1_1)-hugin.jpg" media="(min-width: 800px)">
            <source srcset="../../assets/img/content/600x800(3_4)-hugin.jpg" media="(min-width: 600px)">
            <source srcset="../../assets/img/content/480x640(3_2)-hugin.jpg" media="(min-width: 480px)">
            <img class="mrx-hero__img mrx-objectfit__img" src="../../assets/img/content/1600x800(2_1)-hugin.jpg" data-fallback="../../assets/img/content/1600x800(2_1)-hugin.jpg" alt="Alternative text">
        </picture>
    <div class="mrx-hero__content">
            <div class="mrx-hero__content__item">
                <div class="mrx-container mrx-container--center mrx-container--tab-m mrx-center">
                    <h1 class="mrx-hero__title">
                        How drones will make the industry more efficient
                    </h1>
                    
                    <p class="mrx-hero__lead">– and provide a safer and more environmentally-friendly future</p>
                    
                    
                </div>
            </div>
        </div>
    </div>

        <div class="mrx-container mrx-container--center mrx-container--tab-m mrx-py--large@all">
        <div class="mrx-prose">
            <p>
                Drones are playing an increasingly important role in the transformation
                of industry – and for good reason. They can provide big cost savings,
                improve safety significantly, and reduce the impact on the environment.
            </p>
            <p>
                Companies in the oil and gas industry do a lot of deep-sea work.
                This is expensive work that frequently entails security risks and
                impacts the environment. In the power industry, monitoring the power
                grid and analyzing images to detect errors is a major cost. And in the
                maritime sector, the inspection of big tanks and vessels constitutes
                a risk factor
            </p>
            <h2>
                Faster, less expensive, and safer with drones
            </h2>
            <p>
                Automation, drones, and artificial intelligence will bring big gains
                in these and many other areas. Simply put, we can use drones to
                make inspections more frequent, faster, and less expensive with
                no risk of exposing people to danger – even in inaccessible,
                dangerous, or harmful environments.
            </p>
            <p>
                Most drones will be used for surveillance using built-in cameras,
                infrared sensors, radar, or sonar. With the help of machine learning,
                these drones will, for example, be able to navigate and create maps
                in unknown terrain, navigate indoors, and interpret data from sensors
                on installations. They will even be able to identify data patterns
                and assess whether they include irregularities indicating errors.
            </p>
            <h2>
                Cost-efficient development and inspection at deep sea levels
            </h2>
            <p>Companies in the oil and gas industry have to lay pipelines and
                install wells at deep sea levels. With subsea drones – or AUVs
                (autonomous underwater vehicles) – they can produce detailed maps
                of the seabed before commencing this work. The result will be
                cost-efficient development that minimizes the impact on the marine
                environment.
            </p>
            <blockquote>
                <p>
                    Snake robots are called seabed janitors: They live on the
                    seabed near installations they are monitoring.
                </p>
            </blockquote>
            <p>
                Subsea drones can also be used for inspecting pipelines and other
                subsea installations. But the technology is developing rapidly,
                and in the future, snake robots will be able to handle much of this work.
            </p>
            <p><em>(Article continues below)</em></p>
            <div class="mrx-ui mrx-ratio mrx-ratio--16/9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7VMTsGYJ7JY?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <p>
                Snake robots are called seabed janitors: They live on the seabed
                near installations they are monitoring. They can even perform easier
                maintenance on the installations. This will lead to reduced use of
                the larger subsea vessels that are more expensive in use. At the
                same time, it will improve the safety. And inspections of plants
                with suspected gas leakages can be carried out more quickly. Today,
                such suspicions can cause a plant to be closed for a week or more
                before a crew can be sent to inspect and reopen it.
            </p>
            <p><em>(Article continues below)</em></p>
            <div class="mrx-ui mrx-ratio mrx-ratio--16/9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QsHwkBjpqa0?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <h2>
                Drones may revolutionize the power industry
            </h2>
            <p>
                Autonomous, flying drones may revolutionize the power industry.
                The drones inspect the power grid and take pictures from the air.
                The images are then uploaded to the cloud and analyzed. This is a
                job drones and advanced analysis can do faster, safer, and more
                accurately than people.
            </p>
            <p>
                In the wake of Hurricane Irma earlier this year,
                <a href="https://www.esmartsystems.com/">Norwegian-based eSmart Systems</a>
                used this technology to help power companies in the US. Drones
                and artificial intelligence helped thousands of Americans get their
                power back faster. They also made the cleanup work safer for those
                working on getting the infrastructure back up.
            </p>
            <p><em>(Article continues below)</em></p>
            <div class="mrx-ui mrx-ratio mrx-ratio--16/9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/u4fLEI4m9Us?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <p>
                Flying drones can perform several other tasks: For instance, they
                can deliver smaller packages to ships. They can carry out surveys,
                quality control, and inspection of wind turbine wings and solar systems.
                And they can inspect narrow pipes and big tanks on ships and offshore
                installations. Today, people are performing these tasks manually.
            </p>
            <h2>
                The sky is not the limit
            </h2>
            <p>
                I think the easiest way to understand the opportunities drones provide
                is to think of them as remote sensors: They can move over long
                distances and gather data that we can use later.
            </p>
            <p>
                There are still certain challenges associated with using autonomous
                drones, but development is moving fast. Although autonomous drones
                won't become a common sight within the next couple of years, with
                time, they will undoubtedly generate huge amounts of data. Advanced
                analysis of these data will provide increased security, help protect
                the environment, improve maintenance, and provide significant
                cost savings.
            </p>
            <p>
                In the future, autonomous drones will provide an abundance of opportunities.
            </p>
            <p>
                The sky is not the limit.
            </p>
        </div>
    </div>
    </section>
    <section class="mrx-theme--foam mrx-py--large@all">
        <div class="mrx-container mrx-container--center mrx-container--ltp-s">
            <h2>Related articles</h2>
            <hr class="mrx-mb--large@all">
            <div class="mrx-row mrx-row--gutters">
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Article</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A card is container for a few short, related pieces of information. It roughly resembles a playing card in size and shape, and is intended as a linked, short representation of a conceptual unit.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Article</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A card is container for a few short, related pieces of information. It roughly resembles a playing card in size and shape, and is intended as a linked, short representation of a conceptual unit.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Article</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A card is container for a few short, related pieces of information. It roughly resembles a playing card in size and shape, and is intended as a linked, short representation of a conceptual unit.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--6@tab-s mrx-col--3@ltp-s">
                    <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Article</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A card is container for a few short, related pieces of information. It roughly resembles a playing card in size and shape, and is intended as a linked, short representation of a conceptual unit.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                </div>
            </div>
        </div>
    </section>

                </div>
            </main>
        </div>

    </div>
    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>
    
    
</body>

</html>
