

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Muthuraja Design System</title>


<link rel="preload" href="../../assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" type="image/x-icon">

<link rel="manifest" href="../../manifest.json">
<link rel="author" type="text/plain" href="../../humans.txt">
    <link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css">
<link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-styles.css">

    

    <script src="../../assets/scripts/js/vendor/modernizr-custom.js"></script>
<script src="../../assets/scripts/js/vendor/svg4everybody.js"></script>
<script>
    svg4everybody();
</script>

    
</head>
<body class="mrx-page">
    <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-flat mrx-btn--size-large"disabled="disabled">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Disabled Flat Button</span>
    </span>
</button>

    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>

    
    
</body>
</html>
