

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Muthuraja Design System</title>


<link rel="preload" href="../../assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" type="image/x-icon">

<link rel="manifest" href="../../manifest.json">
<link rel="author" type="text/plain" href="../../humans.txt">
    <link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css">
<link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-styles.css">

    

    <script src="../../assets/scripts/js/vendor/modernizr-custom.js"></script>
<script src="../../assets/scripts/js/vendor/svg4everybody.js"></script>
<script>
    svg4everybody();
</script>

    
</head>
<body class="mrx-page">
    <div class="mrx-page__header">
    <header class="mrx-header" role="banner">
        <button class="mrx-btn mrx-hamburger mrx-hamburger--spin mrx-header__nav-toggle mrx-js-header__nav-toggle">
    <span class="mrx-hamburger__inner">
        <span class="mrx-hamburger__icon"></span>
    </span>
    <span class="mrx-hamburger__txt mrx-is-vishidden">Menu</span>
</button>
        <a class="mrx-header__logo" href="#">
            <img src="../../../components/raw/header/logomark-Muthuraja-neg.svg" alt="Muthuraja logo">
            </a>
        <a class="mrx-header__title" href="#">
            GSN Management
        </a>
        <div class="mrx-header__tools">
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-ui" role="group" aria-label="Tools and settings"><!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--84631" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#user"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">User</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--84631">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">My profile</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Notification settings</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Security</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Usage</span>
                            </a>
                        </li>
                <li class="mrx-divider mrx-divider--size-mini" aria-hidden="true" tabindex="-1"></li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Logout</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--64024" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--64024">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Menu Editor</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Unit of Measure</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--21779" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#dots-horizontal"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">More</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--21779">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Support</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Give feedback</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Community</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Privacy policy</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">About Muthuraja</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        </div>
        </div>
    </header>
</div>


    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>

    
    
</body>
</html>
