

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Muthuraja Design System</title>


<link rel="preload" href="../../assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" type="image/x-icon">

<link rel="manifest" href="../../manifest.json">
<link rel="author" type="text/plain" href="../../humans.txt">
    <link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css">
<link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-styles.css">

    

    <script src="../../assets/scripts/js/vendor/modernizr-custom.js"></script>
<script src="../../assets/scripts/js/vendor/svg4everybody.js"></script>
<script>
    svg4everybody();
</script>

    
</head>
<body class="mrx-page">
    <div class="mrx-ui">
    
        <h3>Utility Icons</h3>
        <p>Icons used throughout the interface for generic purposes.</p>
        <ul class="mrx-row mrx-row--gutters mrx-row--stretch swatches swatches--icons mrx-my--xxlarge@all">
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-right"><title>Angle Right</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">angle-right</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-down"><title>Angle Down</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">angle-down</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-left"><title>Angle Left</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">angle-left</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-up"><title>Angle Up</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">angle-up</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#arrow-right"><title>Arrow Right</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">arrow-right</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#arrow-down"><title>Arrow Down</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">arrow-down</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#arrow-left"><title>Arrow Left</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">arrow-left</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#arrow-up"><title>Arrow Up</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">arrow-up</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"><title>Caret Right</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">caret-right</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-down"><title>Caret Down</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">caret-down</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-left"><title>Caret Left</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">caret-left</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-up"><title>Caret Up</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">caret-up</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#success"><title>Success</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">success</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#info"><title>Info</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">info</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#warning"><title>Warning</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">warning</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#danger"><title>Danger</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">danger</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-right"><title>Pull Right</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">pull-right</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-down"><title>Pull Down</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">pull-down</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-left"><title>Pull Left</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">pull-left</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pull-up"><title>Pull Up</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">pull-up</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-swap-horizontal"><title>Angle Swap Horizontal</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">angle-swap-horizontal</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#angle-swap-vertical"><title>Angle Swap Vertical</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">angle-swap-vertical</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#attachment"><title>Attachment</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">attachment</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"><title>Bookmark</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">bookmark</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#check"><title>Check</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">check</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#close"><title>Close</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">close</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"><title>Cog</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">cog</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#user"><title>User</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">user</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#dots-horizontal"><title>Dots Horizontal</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">dots-horizontal</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#dots-vertical"><title>Dots Vertical</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">dots-vertical</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#pin"><title>Pin</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">pin</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"><title>Search</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">search</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"><title>Box</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">box</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#papers"><title>Papers</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">papers</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#plus"><title>Plus</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">plus</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#minus"><title>Minus</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">minus</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#twitter"><title>Twitter</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">twitter</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#facebook"><title>Facebook</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">facebook</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-moderate">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#linkedin"><title>Linkedin</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">linkedin</span>
                    </div>
                </div>
            </li>
            
        </ul>
    
        <h3>Industry Illustrations</h3>
        <p>Illustrations used to specify a particular industry or topic.</p>
        <ul class="mrx-row mrx-row--gutters mrx-row--stretch swatches swatches--icons mrx-my--xxlarge@all">
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#drilling-well"><title>Drilling Well</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">drilling-well</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#fishery"><title>Fishery</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">fishery</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#maritime-offshore"><title>Maritime Offshore</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">maritime-offshore</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#oil-gas-production"><title>Oil Gas Production</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">oil-gas-production</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#other-industries"><title>Other Industries</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">other-industries</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#renewables"><title>Renewables</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">renewables</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#subsea"><title>Subsea</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">subsea</span>
                    </div>
                </div>
            </li>
            
            <li class="mrx-col mrx-col--6@all mrx-col--4@mob-s mrx-col--3@mob-m mrx-col--2@tab-s">
                <div class="swatch swatch--icon mrx-center mrx-card mrx-p--small@all">
                    <div class="swatch__tile">
                        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-xxlarge">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#utilities"><title>Utilities</title></use>
    </svg>
</i>
                    </div>
                    <div class="swatch__info">
                        <span class="swatch__symbol">utilities</span>
                    </div>
                </div>
            </li>
            
        </ul>
    
</div>

    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>

    
    
</body>
</html>
