

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Muthuraja Design System</title>


<link rel="preload" href="../../assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" type="image/x-icon">

<link rel="manifest" href="../../manifest.json">
<link rel="author" type="text/plain" href="../../humans.txt">
    <link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css">
<link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-styles.css">

    

    <script src="../../assets/scripts/js/vendor/modernizr-custom.js"></script>
<script src="../../assets/scripts/js/vendor/svg4everybody.js"></script>
<script>
    svg4everybody();
</script>

    
</head>
<body class="mrx-page">
    <div class="mrx-inputgroup">
    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-large" id="--97875" type="text"    />
    <label class="mrx-label" for="--97875">
        
    </label>
</div>
    <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
</div>
<br>
<div class="mrx-inputgroup">
    <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-large" id="--80302" type="text"    />
    <label class="mrx-label" for="--80302">
        
    </label>
</div>

</div>
<br>
<div class="mrx-inputgroup">
    <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-large" id="--95017" type="text"    />
    <label class="mrx-label" for="--95017">
        
    </label>
</div>
    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-large" id="--33112" type="text"    />
    <label class="mrx-label" for="--33112">
        
    </label>
</div>
    <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
    
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-large" id="--94169" type="text"    />
    <label class="mrx-label" for="--94169">
        
    </label>
</div>
    
    
    

<div class="mrx-form__element">
    <select class="mrx-field mrx-field--size-large " id="select-label--28750">
        <option value="1">Tiny</option>
        <option value="2">Foo</option>
        <option value="3">Bar</option>
        </select>
    <label class="mrx-label mrx-is-vishidden" for="select-label--28750">
        Select Label
    </label>
    </div>
    <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
</div>

    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>

    
    
</body>
</html>
