

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Muthuraja Design System</title>


<link rel="preload" href="../../assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../../assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

<meta name="description" content="KDS - A Front-end UI toolkit built with Fractal">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="msapplication-TileColor" content="#1f145d">
<meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-144x144.png">
<meta name="theme-color" content="#1f145d">

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
<link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../../assets/img/favicons/favicon.ico" type="image/x-icon">

<link rel="manifest" href="../../manifest.json">
<link rel="author" type="text/plain" href="../../humans.txt">
    <link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-fonts.css">
<link media="all" rel="stylesheet" href="../../assets/styles/css/mrx-styles.css">

    

    <script src="../../assets/scripts/js/vendor/modernizr-custom.js"></script>
<script src="../../assets/scripts/js/vendor/svg4everybody.js"></script>
<script>
    svg4everybody();
</script>

    
</head>
<body class="mrx-page">
    <div class="mrx-page__canvas">
        
        <div class="mrx-page__header">
    <header class="mrx-header" role="banner">
        <button class="mrx-btn mrx-hamburger mrx-hamburger--spin mrx-header__nav-toggle mrx-js-header__nav-toggle">
    <span class="mrx-hamburger__inner">
        <span class="mrx-hamburger__icon"></span>
    </span>
    <span class="mrx-hamburger__txt mrx-is-vishidden">Menu</span>
</button>
        <a class="mrx-header__title" href="#">
            My Company
        </a>
        <div class="mrx-header__tools">
            <!-- BUTTON-GROUP Component -->
<div class="mrx-btngroup mrx-btngroup--fit-tight mrx-ui" role="group" aria-label="Tools and settings"><!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--90721" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#user"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">User</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--90721">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">My profile</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Notification settings</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Security</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Usage</span>
                            </a>
                        </li>
                <li class="mrx-divider mrx-divider--size-mini" aria-hidden="true" tabindex="-1"></li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Logout</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--50521" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#cog"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">Settings</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--50521">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Menu Editor</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Unit of Measure</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        <!-- DROPDOWN Component --><div class="mrx-dropdown" role="group">
    <button id="--44047" class="mrx-dropdown__toggle mrx-btn mrx-btn--skin-link mrx-btn--icon mrx-js-dropdown__toggle" aria-haspopup="true" aria-expanded="false">
        <span class="mrx-btn__inner">
                <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#dots-horizontal"></use>
    </svg>
</i>
                <span class="mrx-btn__txt mrx-is-vishidden">More</span>
                </span>
    </button>
    <div class="mrx-dropdown__menu mrx-dropdown__menu--align-right mrx-js-dropdown__menu" aria-labelledby="--44047">
        <ul class="mrx-dropdown__list">
            <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Support</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Give feedback</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Community</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">Privacy policy</span>
                            </a>
                        </li>
                <li class="mrx-dropdown__item">
                        <a class="mrx-dropdown__link" href="#">
                            <span class="mrx-dropdown__item__txt">About Muthuraja</span>
                            </a>
                        </li>
                </ul>
    </div>
</div>


        </div>
        </div>
    </header>
</div>


        
        <div class="mrx-page__nav">
            
    
    

<nav class="mrx-nav mrx-nav--main" aria-labelledby="--70331"><div class="mrx-nav__search">
        <div class="mrx-inputgroup">
            
    
    

<!-- FIELD Component -->
<div class="mrx-form__element">
    <input class="mrx-field mrx-field--size-base" id="find-component--54630" type="search" placeholder="Find component"    />
    <label class="mrx-label mrx-is-vishidden" for="find-component--54630">
        Find Component
    </label>
</div>
            <!-- BUTTON Component -->
<button class="mrx-btn mrx-btn--skin-primary mrx-btn--size-base mrx-btn--icon" aria-label="Search">
    <span class="mrx-btn__inner">
        <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#search"></use>
    </svg>
</i>
        <span class="mrx-btn__txt mrx-is-vishidden">Search</span>
    </span>
</button>
        </div>
    </div><h2 class="mrx-nav__header mrx-is-vishidden" id="--70331">Main Navigation</h2><ul class="mrx-tree mrx-is-root">
    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="0">
        <a href="#" class="mrx-tree__link">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
            <span class="mrx-tree__link__txt">Link level 0</span>
        </a>
        <ul class="mrx-tree">
            <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-tiny mrx-tree__caret">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#caret-right"></use>
    </svg>
</i>
                            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-base">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
    </svg>
</i>
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</nav>
        </div>

        
        <div class="mrx-page__main">
            <main class="mrx-main" role="main">

                
                <button class="mrx-page__overlay">
                    <span class="mrx-is-vishidden">Close</span>
                </button>

                
                

                
                <div class="mrx-page__content">
                    
    <div class="mrx-hero mrx-hero--50 mrx-objectfit">
    <picture class="mrx-hero__poster">
            <source srcset="../../assets/img/content/1920x960(2_1)-wave.jpg" media="(min-width: 1920px)">
            <source srcset="../../assets/img/content/1600x800(2_1)-wave.jpg" media="(min-width: 1600px)">
            <source srcset="../../assets/img/content/1280x853(3_2)-wave.jpg" media="(min-width: 1280px)">
            <source srcset="../../assets/img/content/1024x683(3_2)-wave.jpg" media="(min-width: 1024px)">
            <source srcset="../../assets/img/content/800x800(1_1)-wave.jpg" media="(min-width: 800px)">
            <source srcset="../../assets/img/content/600x800(3_4)-wave.jpg" media="(min-width: 600px)">
            <source srcset="../../assets/img/content/480x640(3_2)-wave.jpg" media="(min-width: 480px)">
            <img class="mrx-hero__img mrx-objectfit__img" src="../../assets/img/content/1600x800(2_1)-wave.jpg" data-fallback="../../assets/img/content/1600x800(2_1)-wave.jpg" alt="Alternative text">
        </picture>
    <div class="mrx-hero__content">
            <div class="mrx-hero__content__item">
                <div class="mrx-container mrx-container--center mrx-container--tab-m mrx-center">
                    <h1 class="mrx-hero__title">
                        Developers
                    </h1>
                    
                    <p class="mrx-hero__lead">Develop. Distribute. Communicate</p>
                    
                    
                    <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-primary mrx-btn--size-large mrx-hero__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Get Started</span>
    </span>
</a>
                    
                </div>
            </div>
        </div>
    </div>

    
<div class="mrx-muthubox mrx-some-cool-class">
    <h2>Baz title</h2>
    <p>baz content</p>
</div>


    <section class="mrx-py--large@all mrx-pt--xxlarge@tab-m mrx-pb--xlarge@tab-m">
        <div class="mrx-container mrx-container--center mrx-container--tab-m mrx-center">
            <h2>About Muthuraja Developers</h2>
            <p>Here you will find information, instructions and guidelines that will help you build high quality applications and solutions, bringing out the value of your business.</p>
            <p>The Application Framework, Global System Tools and IoT Services provide powerful and flexible capabilities for reading, presenting and analyzing asset performance data between remote locations in a secure environment.</p>
        </div>
    </section>

    <section class="mrx-py--large@all mrx-py--xlarge@tab-m">
        <div class="mrx-container mrx-container--center mrx-container--ltp-s">
            <h2 class="mrx-center mrx-is-vishidden">Get started</h2>
            <div class="mrx-row mrx-row--gutters mrx-row--stretch@all">
                <div class="mrx-col mrx-col--12@all mrx-col--4@tab-m">
                    <div class="mrx-pb--base@all mrx-px--large@tab-m mrx-center">
                        <h3>Creating Applications</h3>
                        <p>A quick introduction of the platform architecture and it services and help you set up your development environment.</p>
                    </div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--4@tab-m">
                    <div class="mrx-pb--base@all mrx-px--large@tab-m mrx-center">
                        <h3>IoT Platform</h3>
                        <p>Data Management, Analytics and IoT Platform capabilities.</p>
                    </div>
                </div>
                <div class="mrx-col mrx-col--12@all mrx-col--4@tab-m">
                    <div class="mrx-pb--base@all mrx-px--large@tab-m mrx-center">
                        <h3>Secure Connectivity</h3>
                        <p>A high-level introduction to the globally distributed and secure network.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mrx-py--large@all mrx-py--xlarge@tab-m">
        <div class="mrx-container mrx-container--center mrx-container--ltp-s">
            <div class="mrx-row mrx-row--stretch@all">
            
            
                <div class="mrx-col mrx-col--12@all mrx-col--4@tab-s mrx-odd">
                <a href="#" class="mrx-topictile">
    <span class="mrx-topictile__title mrx-center">Creating Applications</span>
    <img class="mrx-topictile__img" src="/assets/img/icons/industries/maritime-offshore-white.svg" alt="Alternative text">
</a>
                </div>
            
                <div class="mrx-col mrx-col--12@all mrx-col--4@tab-s mrx-even">
                <a href="#" class="mrx-topictile">
    <span class="mrx-topictile__title mrx-center">IoT Platform</span>
    <img class="mrx-topictile__img" src="/assets/img/icons/industries/subsea-white.svg" alt="Alternative text">
</a>
                </div>
            
                <div class="mrx-col mrx-col--12@all mrx-col--4@tab-s mrx-odd">
                <a href="#" class="mrx-topictile">
    <span class="mrx-topictile__title mrx-center">Secure Connectivity</span>
    <img class="mrx-topictile__img" src="/assets/img/icons/industries/fishery-white.svg" alt="Alternative text">
</a>
                </div>
            
            </div>
        </div>
    </section>

    <section class="mrx-py--large@all mrx-py--xlarge@tab-m">
        <div class="mrx-container mrx-container--center mrx-container--tab-l">
            <h2 class="mrx-center">Explore Muthuraja</h2>
            <img src="/assets/img/content/explore-Muthuraja-diagram.png" class="mrx-py--large@all" alt="Diagram over Muthuraja">
        </div>
        <div class="mrx-container mrx-container--center mrx-container--ltp-s">
            <div class="mrx-row mrx-row--gutters mrx-row--stretch@all">
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Application Framework</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>Application framework provides components and services that help developers quickly and easily build secure applications and widgets. Use the articles in this section to start building on the digital platform.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Utilities</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart Grid</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart Metering</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart City</span></li>
                
                <li class="mrx-card__tagitem"><span>Power Grid</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Visualization</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>Advanced 3D visualization capabilities such as Virtual Reality, Augmented Reality and Graphical Information System capabilities for apps and solutions developed on the Muthuraja platform.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Maritime</span></li>
                
                <li class="mrx-card__tagitem"><span>Subsea Performance</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Developers.kognif.ai</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>An open ecosystem and community providing detailed insight, support and services for developers on the Muthuraja platform and on designcompany solutions.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Advanced Analytics</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>Advanced real time stream analytics, both on premise and in cloud provides powerful sensor data manipulation for transforming raw sensor values into high quality information.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Maritime</span></li>
                
                <li class="mrx-card__tagitem"><span>Subsea Performance</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">IoT Platform</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>A highly scalable and flexible IoT platform enable secure and reliable data collection, analytics and distribution for distributed industrial scale on premise or cloud based solutions.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Utilities</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart Grid</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart Metering</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart City</span></li>
                
                <li class="mrx-card__tagitem"><span>Power Grid</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Global System Tools</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>Ready to go applications and tools enable solution providers to faster deliver value for their customers.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Connectivity</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>The Global Secure Network ensures a reliable, secure and unified way of communication and data transfer between remote installations, public and private clouds, customers, industrial infrastructure and sensors.</p>
    </div>
    <footer class="mrx-card__footer">
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Self Service Portal</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>Globally distributed, scalable, and industrial hardened, self-serviced cloud infrastructure provides the flexibility, effectiveness and security needed for digitalized industrial solutions.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Maritime</span></li>
                
                <li class="mrx-card__tagitem"><span>Subsea Performance</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
                    <div class="mrx-col mrx-col--12@all mrx-col--6@tab-m mrx-col--4@ltp-s">
                        <div class="mrx-card mrx-card--skin-default">
    
    <header class="mrx-card__header">
        <h3 class="mrx-card__title"><a class="mrx-card__title-link" href="#">Cyber Security</a></h3>
    </header>
    <div class="mrx-card__body">
        <p>Take advantage of our state of the art security infrastructure and cyber security management.</p>
    </div>
    <footer class="mrx-card__footer">
        
        <div class="mrx-card__tags">
            <!-- ICON Component -->
<i class="mrx-icon mrx-icon--size-small">
    <svg focusable="false">
        <use xlink:href="../../assets/img/icons/sprites/icons.svg#bookmark"></use>
    </svg>
</i>
            <ul class="mrx-card__taglist">
                
                <li class="mrx-card__tagitem"><span>Utilities</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart Grid</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart Metering</span></li>
                
                <li class="mrx-card__tagitem"><span>Smart City</span></li>
                
                <li class="mrx-card__tagitem"><span>Power Grid</span></li>
                
            </ul>
        </div>
        
        
        <!-- LINK AS BUTTON Component -->
<a class="mrx-btn mrx-btn--skin-flat mrx-btn--size-base mrx-card__cta" href="#">
    <span class="mrx-btn__inner">
        <span class="mrx-btn__txt">Learn More</span>
    </span>
</a>
        
    </footer>
</div>
                    </div>
                
            </div>
        </div>
    </section>

    
        
            
        
    


                </div>
            </main>
        </div>

        
        <div class="mrx-page__footer mrx-theme--navy">
    <footer role="contentinfo">
        <div class="mrx-container mrx-footer">
            <div class="mrx-footer__logo">
                <img src="../../assets/img/gfx/kog-logo-neg.svg" alt="">
            </div>
            <div class="mrx-footer__text">
                <p>Copyright ©2017 designcompany Gruppen - All rights reserved <br>
                    <a href="mailto:mb172.digital.platform.developers@design.designcompany.com">Contact Us</a>
                </p>
            </div>
        </div>
    </footer>
</div>
    </div>
    
<script>
    let buttons = document.querySelectorAll('.mrx-btn');

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
            this.blur();
        });
    }
</script>
<script src="../../assets/scripts/js/helpers.js"></script>
<script src="../../assets/scripts/js/navigation.js"></script>
<script src="../../assets/scripts/js/object-fit-fallback.js"></script>


<script src="../../assets/scripts/js/components/dropdown.js"></script>
    
    
</body>
</html>
