<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    {% include '@meta-head' %}
    {% include '@styles-head' %}
    {# Custom styles goes here: #}

    {% include '@scripts-head' %}
    {# Custom scripts in head goes here: #}
</head>
{{ yield }}
</html>