{%- if id -%}
    {% set random_number = range(0, 100000) | random %}
    {% set id = id | replace(' ', '-') | lower + '--' + random_number %}
{% else %}
    {% set random_number = range(0, 100000) | random %}
    {% set id = label | replace(' ', '-') | lower + '--' + random_number %}
{% endif -%}
{%- if toggle -%}
<!-- SWITCH toggle Component -->
<div class="mrx-switch mrx-switch--toggle{% for class in classes %} {{ class }}{% endfor %}">
    <label class="mrx-switch__label" for="{{ id }}">
        <input class="mrx-switch__control mrx-is-vishidden" type="{{ type }}" id="{{ id }}"{% if name %} name="{{ name }}"{% endif %}{% if value %} value="{{ value }}"{% endif %} {{ 'disabled="disabled"' if disabled }} {{ 'checked="checked"' if checked }}/>
        <span class="mrx-switch__fake" aria-hidden="true">
            <span class="mrx-switch__option-left" aria-hidden="true">
                {% render '@icon', { symbol: 'check', size: 'tiny' } %}
            </span>
            <span class="mrx-switch__option-right mrx-is-hidden" aria-hidden="true">
                {% render '@icon', { symbol: 'close', size: 'tiny' } %}
            </span>
        </span>
        <span class="mrx-switch__label__txt{% if hideLabel == true %} mrx-is-vishidden{% endif %}">{{ label }}</span>
        <span class="mrx-switch__disabled-msg" data-checked="On" data-unchecked="Off" aria-hidden="true"></span>
    </label>
</div>
{%- else -%}
<!-- SWITCH {{ type }} Component -->
<div class="mrx-switch mrx-switch--{{ type }}{% for class in classes %} {{ class }}{% endfor %}">
    <label class="mrx-switch__label" for="{{ id }}">
        <input class="mrx-switch__control mrx-is-vishidden" type="{{ type }}" id="{{ id }}"{% if name %} name="{{ name }}"{% endif %}{% if value %} value="{{ value }}"{% endif %} {{ 'disabled="disabled"' if disabled }} {{ 'checked="checked"' if checked }}/>
        <span class="mrx-switch__fake" aria-hidden="true"></span>
        <span class="mrx-switch__label__txt{% if hideLabel == true %} mrx-is-vishidden{% endif %}">{{ label }}</span>
    </label>
</div>
{%- endif -%}
