<div class="mrx-divider{% if size %} mrx-divider--size-{{ size }}{% endif %}{% if text %} mrx-has-text{% endif %}{% if classes %} {{ classes }}{% endif %}">
    {%- if dividerText %}<span class="mrx-divider__txt">{{ dividerText }}</span>{% endif -%}
</div>