<div class="mrx-page__footer mrx-theme--navy">
    <footer role="contentinfo">
        <div class="mrx-container mrx-footer">
            <div class="mrx-footer__logo">
                <img src="../../assets/img/gfx/kog-logo-neg.svg" alt="">
            </div>
            <div class="mrx-footer__text">
                <p>Copyright ©2017 designcompany Gruppen - All rights reserved <br>
                    <a href="mailto:mb172.digital.platform.developers@design.designcompany.com">Contact Us</a>
                </p>
            </div>
        </div>
    </footer>
</div>