<ul class="mrx-tree mrx-is-root">
    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="0">
        <a href="#" class="mrx-tree__link">
            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
            {% render '@icon', {symbol: 'box', size: 'base' } %}
            <span class="mrx-tree__link__txt">Link level 0</span>
        </a>
        <ul class="mrx-tree">
            <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mrx-tree__item mrx-is-node" data-treedepth="1">
                <a href="#" class="mrx-tree__link">
                    {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                    <span class="mrx-tree__link__txt">Link level 1</span>
                </a>
                <ul class="mrx-tree">
                    <li class="mrx-tree__item mrx-is-node mrx-is-open" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mrx-tree__item mrx-is-node" data-treedepth="2">
                        <a href="#" class="mrx-tree__link">
                            {% render '@icon', {symbol: 'caret-right', size: 'tiny', classes: ['mrx-tree__caret'] } %}
                            {% render '@icon', {symbol: 'box', size: 'base' } %}
                            <span class="mrx-tree__link__txt">Link level 2</span>
                        </a>
                        <ul class="mrx-tree">
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    {% render '@icon', {symbol: 'box', size: 'base' } %}
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                            <li class="mrx-tree__item mrx-is-leaf" data-treedepth="3">
                                <a href="#" class="mrx-tree__link">
                                    <span class="mrx-tree__link__txt">Link level 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>