<!-- ICON Component -->
<i class="mrx-icon{% if size %} mrx-icon--size-{{ size }}{% endif %}{% for class in classes %} {{ class }}{% endfor %}">
    <svg{% if ariaHidden %} aria-hidden="true"{% endif %} focusable="false">
        <use xlink:href="{{ '/assets/img/icons/sprites/icons.svg' | path }}#{% if symbol %}{{ symbol }}{% endif %}">{% if title -%}<title>{{ title }}</title>{% endif -%}</use>
    </svg>
</i>